In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\dhruv\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

df = pd.read_csv('imdb.csv')

df.head()

,Rank,Movie_name,Year,Certificate,Runtime_in_min,Genre,Metascore,Gross_in_$_M,Rating_from_10
0,1,The Shawshank Redemption,1994,R,142,Drama,81.0,28.34,9.3
1,2,The Godfather,1972,R,175,"Crime, Drama",100.0,134.97,9.2
2,3,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",84.0,534.86,9.0
3,4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",94.0,377.85,9.0
4,5,Schindler's List,1993,R,195,"Biography, Drama, History",94.0,96.90,9.0

In [7]:
df.rename(columns={'Rating_from_10': 'Rating'}, inplace=True)

In [8]:
df.head()

,Rank,Movie_name,Year,Certificate,Runtime_in_min,Genre,Metascore,Gross_in_$_M,Rating
0,1,The Shawshank Redemption,1994,R,142,Drama,81.0,28.34,9.3
1,2,The Godfather,1972,R,175,"Crime, Drama",100.0,134.97,9.2
2,3,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",84.0,534.86,9.0
3,4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",94.0,377.85,9.0
4,5,Schindler's List,1993,R,195,"Biography, Drama, History",94.0,96.90,9.0

In [9]:
print(df.isnull().sum())

# Drop rows with missing important columns (like Genre, Rating, etc.)
df.dropna(subset=['Genre', 'Rating'], inplace=True)

# Alternatively, you can fill missing numeric values with the median or mean
df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

Rank                0
Movie_name          0
Year                0
Certificate         7
Runtime_in_min      0
Genre               0
Metascore         160
Gross_in_$_M      159
Rating              0
dtype: int64

In [10]:
# Check which entries in the 'Year' column are not numeric
non_numeric_years = df[~df['Year'].str.isnumeric()]
print(non_numeric_years[['Movie_name', 'Year']])

             Movie_name      Year
37                   96   II 2018
64                Joker    I 2019
69                 Coco    I 2017
149          Inside Out    I 2015
159          The Father    I 2020
213                Pink  III 2016
223                Room    I 2015
235                Rush    I 2013
237           Spotlight    I 2015
345               Mommy    I 2014
384      The Sea Inside    I 2004
477                Baby    I 2015
481              Wonder    I 2017
482             Arrival   II 2016
491          The Artist    I 2011
503             Boyhood    I 2014
524       No Man's Land    I 2001
617               Pride    I 2014
624          About Time    I 2013
650         The Fighter    I 2010
651               Taken    I 2008
652                Once    I 2007
656               Drive    I 2011
660            The Fall    I 2006
669               Crash    I 2004
758             Get Out    I 2017
801             Flipped    I 2010
817                 Ray    I 2004
854           Apollo 13    I 1995
921           Searching  III 2018
924               Moana    I 2016
928  Hell or High Water   II 2016
984         After Hours    I 1985

In [11]:
df['Year'] = df['Year'].str.extract('(\d+)')

# Convert the 'Year' column to integer, coercing errors to NaN (in case of invalid values)
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Check for any remaining NaN values and decide how to handle them
print(df[df['Year'].isna()])

Empty DataFrame
Columns: [Rank, Movie_name, Year, Certificate, Runtime_in_min, Genre, Metascore, Gross_in_$_M, Rating]
Index: []

In [12]:
df.dropna(subset=['Year'], inplace=True)

In [13]:
# Convert 'Rating' to numeric if it's in string format
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

# Convert 'Year' to integer
df['Year'] = df['Year'].astype(int)

# Check data types after conversion
print(df.dtypes)

Rank               object
Movie_name         object
Year                int32
Certificate        object
Runtime_in_min      int64
Genre              object
Metascore         float64
Gross_in_$_M       object
Rating            float64
dtype: object

In [14]:
genre_df = df['Genre'].str.get_dummies(sep=',')
df = pd.concat([df, genre_df], axis=1)

# One-hot encode the Certificate column (if applicable)
certificate_df = pd.get_dummies(df['Certificate'], prefix='Certificate')
df = pd.concat([df, certificate_df], axis=1)

print(df.head())

  Rank                                     Movie_name  Year Certificate  \
0    1                       The Shawshank Redemption  1994           R
1    2                                  The Godfather  1972           R
2    3                                The Dark Knight  2008       PG-13
3    4  The Lord of the Rings: The Return of the King  2003       PG-13
4    5                               Schindler's List  1993           R

   Runtime_in_min                      Genre  Metascore Gross_in_$_M  Rating  \
0             142                      Drama       81.0        28.34     9.3
1             175               Crime, Drama      100.0       134.97     9.2
2             152       Action, Crime, Drama       84.0       534.86     9.0
3             201   Action, Adventure, Drama       94.0       377.85     9.0
4             195  Biography, Drama, History       94.0        96.90     9.0

    Action  ...  Certificate_PG  Certificate_PG-13  Certificate_Passed  \
0        0  ...           False              False               False
1        0  ...           False              False               False
2        0  ...           False               True               False
3        0  ...           False               True               False
4        0  ...           False              False               False

   Certificate_R  Certificate_TV-14  Certificate_TV-MA  Certificate_TV-PG  \
0           True              False              False              False
1           True              False              False              False
2          False              False              False              False
3          False              False              False              False
4           True              False              False              False

   Certificate_U  Certificate_UA  Certificate_Unrated
0          False           False                False
1          False           False                False
2          False           False                False
3          False           False                False
4          False           False                False

[5 rows x 62 columns]

In [15]:
# Select important columns for similarity
content_features = ['Metascore', 'Gross_in_$_M', 'Rating'] + genre_df.columns.tolist()

# Create a matrix with these features
content_matrix = df[content_features]

# Check the resulting matrix
print(content_matrix.head())

   Metascore Gross_in_$_M  Rating   Action   Adventure   Biography   Comedy  \
0       81.0        28.34     9.3        0           0           0        0
1      100.0       134.97     9.2        0           0           0        0
2       84.0       534.86     9.0        0           0           0        0
3       94.0       377.85     9.0        0           1           0        0
4       94.0        96.90     9.0        0           0           0        0

    Crime   Drama   Family  ...  Comedy  Crime  Drama  Family  Fantasy  \
0       0       0        0  ...       0      0      1       0        0
1       0       1        0  ...       0      1      0       0        0
2       1       1        0  ...       0      0      0       0        0
3       0       1        0  ...       0      0      0       0        0
4       0       1        0  ...       0      0      0       0        0

   Film-Noir  Horror  Mystery  Thriller  Western
0          0       0        0         0        0
1          0       0        0         0        0
2          0       0        0         0        0
3          0       0        0         0        0
4          0       0        0         0        0

[5 rows x 37 columns]

In [16]:
# Check for rows that contain non-numeric values in the 'Metascore', 'Gross_in_$_M', and 'Rating' columns
non_numeric_rows = df[~df['Metascore'].apply(pd.to_numeric, errors='coerce').notnull()]
print(non_numeric_rows[['Movie_name', 'Metascore']])

Empty DataFrame
Columns: [Movie_name, Metascore]
Index: []

In [17]:
# Remove non-numeric characters from 'Gross_in_$_M' and convert to numeric
df['Gross_in_$_M'] = df['Gross_in_$_M'].replace(r'[^\d.]', '', regex=True).astype(float)

# If 'Metascore' has any invalid values (like strings), convert to NaN and handle them
df['Metascore'] = pd.to_numeric(df['Metascore'], errors='coerce')

# Similarly, handle invalid values in 'Rating' (if applicable)
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

# After conversion, check for any rows with NaN values
print(df.isnull().sum())

Rank                   0
Movie_name             0
Year                   0
Certificate            7
Runtime_in_min         0
                      ..
Certificate_TV-MA      0
Certificate_TV-PG      0
Certificate_U          0
Certificate_UA         0
Certificate_Unrated    0
Length: 62, dtype: int64

In [18]:
# Drop rows with NaN values in critical columns
df.dropna(subset=['Metascore', 'Gross_in_$_M', 'Rating'], inplace=True)

# Or, fill NaN values with the column mean (or median)
df['Metascore'].fillna(df['Metascore'].mean(), inplace=True)
df['Gross_in_$_M'].fillna(df['Gross_in_$_M'].mean(), inplace=True)
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

# Check if NaN values are handled
print(df.isnull().sum())

Rank                   0
Movie_name             0
Year                   0
Certificate            1
Runtime_in_min         0
                      ..
Certificate_TV-MA      0
Certificate_TV-PG      0
Certificate_U          0
Certificate_UA         0
Certificate_Unrated    0
Length: 62, dtype: int64

In [19]:
from sklearn.preprocessing import StandardScaler

# Normalize the numeric features
scaler = StandardScaler()
normalized_content_matrix = scaler.fit_transform(df[['Metascore', 'Gross_in_$_M', 'Rating']])

# Check the normalized matrix
print(normalized_content_matrix[:5])

[[ 0.22291447 -0.39046842  4.67866247]
 [ 1.88040647  0.55836582  4.32690535]
 [ 0.48462373  4.11673895  3.62339111]
 [ 1.35698794  2.71960433  3.62339111]
 [ 1.35698794  0.2196045   3.62339111]]

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity between movies based on the content features
movie_similarity = cosine_similarity(normalized_content_matrix)

# Create a DataFrame to store the similarity matrix
similarity_df = pd.DataFrame(movie_similarity, index=df['Movie_name'], columns=df['Movie_name'])

# Check the similarity matrix
print(similarity_df.head())

Movie_name                                     The Shawshank Redemption  \
Movie_name
The Shawshank Redemption                                       1.000000
The Godfather                                                  0.915611
The Dark Knight                                                0.597170
The Lord of the Rings: The Return of the King                  0.728475
Schindler's List                                               0.942587

Movie_name                                     The Godfather  The Dark Knight  \
Movie_name
The Shawshank Redemption                            0.915611         0.597170
The Godfather                                       1.000000         0.722137
The Dark Knight                                     0.722137         1.000000
The Lord of the Rings: The Return of the King       0.878952         0.959473
Schindler's List                                    0.996813         0.688531

Movie_name                                     The Lord of the Rings: The Return of the King  \
Movie_name
The Shawshank Redemption                                                            0.728475
The Godfather                                                                       0.878952
The Dark Knight                                                                     0.959473
The Lord of the Rings: The Return of the King                                       1.000000
Schindler's List                                                                    0.849390

Movie_name                                     Schindler's List  \
Movie_name
The Shawshank Redemption                               0.942587
The Godfather                                          0.996813
The Dark Knight                                        0.688531
The Lord of the Rings: The Return of the King          0.849390
Schindler's List                                       1.000000

Movie_name                                     The Godfather Part II  \
Movie_name
The Shawshank Redemption                                    0.974031
The Godfather                                               0.978785
The Dark Knight                                             0.630854
The Lord of the Rings: The Return of the King               0.794229
Schindler's List                                            0.991999

Movie_name                                     12 Angry Men  Pulp Fiction  \
Movie_name
The Shawshank Redemption                           0.937120      0.926457
The Godfather                                      0.963689      0.999459
The Dark Knight                                    0.519608      0.705885
The Lord of the Rings: The Return of the King      0.720697      0.865734
Schindler's List                                   0.977384      0.998860

Movie_name                                     Jai Bhim  Inception  ...  \
Movie_name                                                          ...
The Shawshank Redemption                       0.858559   0.770159  ...
The Godfather                                  0.885338   0.773311  ...
The Dark Knight                                0.922875   0.947785  ...
The Lord of the Rings: The Return of the King  0.952169   0.919430  ...
Schindler's List                               0.878387   0.764552  ...

Movie_name                                     The Road Warrior  \
Movie_name
The Shawshank Redemption                              -0.890714
The Godfather                                         -0.919369
The Dark Knight                                       -0.896364
The Lord of the Rings: The Return of the King         -0.948663
Schindler's List                                      -0.914670

Movie_name                                     Close Encounters of the Third Kind  \
Movie_name
The Shawshank Redemption                                                -0.746617
The Godfather                                                           -0.418198
The Dark Knight                                                         -0.213452
The Lord of the Rings: The Return of the King                           -0.231978
Schindler's List                                                        -0.481740

Movie_name                                     The Taking of Pelham One Two Three  \
Movie_name
The Shawshank Redemption                                                -0.754611
The Godfather                                                           -0.949159
The Dark Knight                                                         -0.821240
The Lord of the Rings: The Return of the King                           -0.947099
Schindler's List                                                        -0.921082

Movie_name                                     Enter the Dragon  \
Movie_name
The Shawshank Redemption                              -0.871865
The Godfather                                         -0.756497
The Dark Knight                                       -0.797488
The Lord of the Rings: The Return of the King         -0.789729
Schindler's List                                      -0.773388

Movie_name                                     The Odd Couple  \
Movie_name
The Shawshank Redemption                            -0.840621
The Godfather                                       -0.644366
The Dark Knight                                     -0.664239
The Lord of the Rings: The Return of the King       -0.641869
Schindler's List                                    -0.675853

Movie_name                                     The Jungle Book  The Birds  \
Movie_name
The Shawshank Redemption                             -0.754712  -0.693994
The Godfather                                        -0.848467  -0.490412
The Dark Knight                                      -0.267146  -0.676589
The Lord of the Rings: The Return of the King        -0.525920  -0.588051
Schindler's List                                     -0.856886  -0.516133

Movie_name                                     Eyes Without a Face  \
Movie_name
The Shawshank Redemption                                 -0.675830
The Godfather                                            -0.487651
The Dark Knight                                          -0.706253
The Lord of the Rings: The Return of the King            -0.609555
Schindler's List                                         -0.509395

Movie_name                                     From Here to Eternity  \
Movie_name
The Shawshank Redemption                                   -0.842253
The Godfather                                              -0.682364
The Dark Knight                                            -0.737656
The Lord of the Rings: The Return of the King              -0.712266
Schindler's List                                           -0.706187

Movie_name                                     Snow White and the Seven Dwarfs
Movie_name
The Shawshank Redemption                                             -0.581454
The Godfather                                                        -0.205288
The Dark Knight                                                       0.012631
The Lord of the Rings: The Return of the King                         0.008563
Schindler's List                                                     -0.277616

[5 rows x 841 columns]

In [21]:
def recommend_movies(movie_name, similarity_df, top_n=5):
    # Get similarity scores for the given movie
    similar_movies = similarity_df[movie_name]
    
    # Sort the movies by similarity in descending order
    similar_movies = similar_movies.sort_values(ascending=False)
    
    # Get the top N most similar movies (excluding the input movie)
    top_similar_movies = similar_movies.iloc[1:top_n+1]
    
    print(f"Top {top_n} recommendations for '{movie_name}':")
    print(top_similar_movies)

# Call the function with a movie name
recommend_movies("The Godfather", similarity_df, top_n=5)

Top 5 recommendations for 'The Godfather':
Movie_name
Pulp Fiction        0.999459
Schindler's List    0.996813
Alien               0.994843
Aliens              0.994024
Hamilton            0.989338
Name: The Godfather, dtype: float64